.about{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   background-color: rgba(0, 0, 0, 0.356);
   border: 0.01px solid white;
  
}

h1{font-size: 25pt; margin-bottom: 18px;}
.about p{    padding: 7px;}
h3{ padding: 12px;}



/*Mobile ......*/
@media screen and (max-width:480px){
    /*Only mobiles*/
    
    
}

