/*Mobile ......*/
@media screen and (max-width:480px){

}

.avatar{
    margin-bottom: 5px;
    margin-top: 15px;}

.avatar img{
    width: 230px;
    height: 230px;
    border-radius: 100%;
}

.avatar img:hover{
    border: 5px solid black;
     box-shadow: 0 0pl 2px 7px;
}