.contatos{
  
   
   margin-top: 17.5px;
   margin-bottom: 17.5px;
}
.contact{ 

   margin-top: 35px;
   margin-bottom: 35px;
}
    .contact h1{ margin-top: 28px;margin-left: 28px;}
   
 .contactme div{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.493);
    color:white;
    margin: 5px;
 }

.ArrowUp div a{
   text-align: center;
   font-size: 50pt;
   text-decoration: none;
}


.ArrowUp div a:hover{
   font-size: 50px;
}

#contatos-white a,#contatos-black a{

   margin: 20px;
}

#contatos-white a{
   color:black;
}

#contatos-black a{
   color:white;   
}

#contatos-white a:hover,contatos-black a:hover{
   transform: rotate(15deg);
}



@media screen and (max-width:480px){
   /*Only mobiles*/
   .contatos{
      display: flex;
      flex-direction: column;
      justify-content: center;
     
   }
   
#contatos-white a,#contatos-black a{
   margin: 12px;
   text-align: center;
}
 
.ArrowUp{
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 9%;
   position: relative;
}
}

@media screen and (min-width:481px) and (max-width:768px){
   .contatos{
      display: flex;
      flex-direction: flex;
      flex-wrap: wrap;
      justify-content: center;
     
   }
   .ArrowUp{
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 9%;
      position: relative;
   }
  
}

@media screen and (min-width:769px) and (max-width:1199px){
   .contatos{
      display: flex;
      flex-direction: flex;
      flex-wrap: wrap;
      justify-content: center;
     
   }

   .ArrowUp{
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 9%;
      position: relative;
   }
  
}



@media screen and (min-width:1200px){
   .ArrowUp{
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 9%;
      position: relative;
   }
   .contatos{
      display: flex;
      flex-direction: flex;
      flex-wrap: wrap;
      justify-content: center;
     
   }

}

