.footer{
margin-top: 15px;
    position: relative;
    text-align: center;
}

#white div{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px dashed black;
}

#black div{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px dashed white;
}

#white a{
    color:black;
    text-decoration: none;
    
}

#black a{
    text-decoration: none;
    color:white;
    }
